ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.logout{
position: rigth;
margin: 50px ;
display: flex;


}
.login{

width: 200px;
height: 1000px;
background-color: #082F31 ;
position: left;
display : flex;
margin: 50px;

}


#register{

width: 200px;
height: 1000px;
background-color: #082F31 ;
position: left;
display : flex;
margin: 50px;



}

#signin{
width: 200px;
height: 100px;
background-color: #290831 ;
position: rigth;
display : flex;
margin: 50px;


}

li {
  float: left;
}

li a {
  display: block;
  color: green;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}




li a:hover {
  background-color: #008000;
}


.covoiturage{

width:300px;
height:300px;
background-color: green;
text-align: center;
border:solid black 3px


}

.chauffeur{

width:300px;
height:300px;
background-color: blue;
text-align: center;


}

.profile-pic{
max-width: 200px;
max-height:200px;
margin: 0 auto;
border-radius: 50%;
	}

