{% extends 'base.html' %}
{% load static %}



<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<div>
{% block content %}


<br>
<br>

<form method="POST" >
    <table>
        {{ form.as_p }}
    </table>
    {% csrf_token %}
    <button type="submit"> send </button>
</form>



</div>






<div>
{% if messages %}
<ul class="message">
   {% for message in messages %}
	   <li style="color:blue">{{ message }}</li>
   {% endfor %}
</ul>
{% endif %}


</div><br>



{% for titre in titres %}

<p>{{ titre.titre}}</p>

{% endfor %}




<h3> Back to <a href="{% url 'home2' %}"> homepage</a> </h3>
<h3> Back to <a href="{% url 'welcome' %}"> logout</a> </h3>

{% endblock %}

</body>
</html>