{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>



<nav>
 <ul>
  <li><a href="{% url 'welcome' %}">Home</a></li>
  <li><a href="{% url 'drivers' %}">send message to drivers</a></li>
  <li><a href="{% url 'listofuser'%}"> list of users</a></li>
     <li><a href="{% url 'ask' %}"> schedule trip</a></li>

  <li style="float:righ"><a class="active" href="{% url 'where'  %}"> where </a></li>

</ul>

 <p> connected as {{user.password}}</p>
</nav>


</head>
<body>
{% block content %}










{% endblock  %}



</body>
</html>