{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>accueil</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css'%}">





</head>


<nav>
 <ul>
  <li><a href="#home">Home</a></li>
  <li><a href="{% url 'drivers' %}">send message to drivers</a></li>
  <li><a href="#contact">Contact</a></li>
  <li style="float:right"><a class="active" href="#about">About</a></li>
</ul>


</nav>

{% block content %}











{% endblock  %}



</body>
</html>