<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>



<script>

var date= new Date()
var year = new Date.getFullYear()

</script>

<form action="" method="post">
  <label> fixer vos date</label>
<input type="datetime-local" value="2021 " name="q">
<input type="submit" >
{% csrf_token %}

</form>


<h2>{{savedate}}</h2>
 <div>

    <label for="message"> votre message </label>
    <textarea spellcheck="true" name='' id= '' cols='30' rows='10' placeholder="Your opinion">

    </textarea>



    </div>





</body>
</html>