{% extends 'base.html' %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}

<H2> salut </H2>
    <img class="profile-pic" src="{{request.user.userprofile.avatar.url}}" width="50px">

<button> VOUS ETES CHAUFFEURS  <a href="{% url 'login_d' %}"> INSCRIPTION</a> </button>

<br>


<h1> Vous etes a {{findlocal}}</h1>
<br>




<a href="{% url 'drivers' %}">
<button  type="submit"> VOUS AVEZ BESOIN D UN CHAUFFEUR </button>
</a>

<div class="covoiturage">
    <p>covoiturage</p>
</div>


<div class="chauffeur">
    <p>chauffeur</p>
</div>






{% endblock %}
</body>
</html>