{% extends 'base.html' %}
{% load static %}


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

{% block content %}

<H2> salut {{user}}</H2>

<button> VOUS ETES CHAUFFEURS  <a href="{% url 'login_d' %}"> INSCRIPTION</a> </button>

<br>


<h1> Vous etes a {{findlocal}}</h1>
<br>




<a href="{% url 'drivers' %}">
<button  type="submit"> VOUS AVEZ BESOIN D UN CHAUFFEUR </button>
</a>

<H3><a href="{% url 'ask' %}"> schedule trip</a></H3>


<imput type="date"></imput>

{% endblock %}
</body>
</html>