

{% block content %}



*\\cette vue est valable pour les users et les drivers etant donné qu'elle regroupera les
info necessaires pour les chauffeurs:
(qui , cb de personne , cb valises , destination , quand , adresse )
pour les users:
(voire leurs posts , les eventuels covoiturages a faire ...)
<h2> list of post for netanya</h2>



{% for info in object_list %}



<ul>
    <H3>{{info.date}}</H3>

    <li>post n°{{info.id}} {{info.author}} veut aller a  {{info.titre}}</li>


</ul>
{% if user == info.author %}
<button><a href="{%  url 'postupdate' info.id %}"> modification </a></button>
{% endif %}







{% endfor %}


{% endblock %}