

{% block content %}



*\\cette vue est valable pour les users et les drivers etant donné qu'elle regroupera les
info necessaires pour les chauffeurs:
(qui , cb de personne , cb valises , destination , quand , adresse )
pour les users:
(voire leurs posts , les eventuels covoiturages a faire ...)
<h2> list of post for netanya</h2>



{% for info in object_list %}
<ul>
    <li>{{info.date}}</li>
    <li>{{info.author}} veut aller a  {{info.titre}} ,<a href="{% url 'detail-user' user.pk %}">  {{info.author}}</a> </li>


</ul>
{% endfor %}


{% endblock %}