<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>




<form action="{% url  'pick' chauffeur.id   %}" method="post">
  <label for="male">Male</label>
     {%csrf_token%}
    {% for chauffeur in chauffeurs %}
    {% if chauffeur.name %}
  <input type="radio" name="gender" value={{chauffeur.id}}  <li>{{chauffeur}}</li>><br>
  <label for="female">Female</label>
  <input type="radio" name="gender" id="female" value="victor"><br>
  <label for="other">Other</label>
  <input type="radio" name="gender" id="other" value="gerard"><br><br>
    <button type="submit" name="gender" value={{chauffeur.id}}> </button>
    {% endif %}
    {% endfor %}
</form>


</body>
</html>