<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>choose </title>
</head>
<body>

<form  method="post">
     {%csrf_token%}
    <input type="text"> on a atterie BH , on est encore dans l'avion</input>
<input type="button"> je n'ai pas encore passer la douane</input>
<input  name="q" type="submit"> j'ai/on a passer la douane , on attend les valises </input> ou <button> je n'ai pas de valise</button>
<input type ="radio"> j'ai pris mes baggages je sors porte 1,2,3</input>
    <button type="submit"></button>

</form>



</body>
</html>