{% extends 'base.html' %}
{% load static %}




<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

<br>
<br>
<form action="/where" method="post">
    <label>where do you want to go ?</label>
    <input type="text" name="q">
    {% csrf_token %}

<button type="submit"  >send </button>




</form>



<p>{{archive}}</p>

{% if archives %}
{% for info in archive %}
<p> you have {{info.author}}: num phone {{info.num_phone}}  who looking for {{info.titre}} at {{info.other}}</p>

{% endfor %}

<div>
{% elif messages %}
<ul class="message">
   {% for message in messages %}
	   <li style="color:blue">{{ message }}</li>
   {% endfor %}
</ul>

{% endif %}






<h3> Back to <a href="{% url 'home2' %}"> homepage</a> </h3>
<h3> Back to <a href="{% url 'welcome' %}"> logout</a> </h3>

    {% endblock %}


</body>
</html>